body{
    background-color: rgb(228, 204, 168);
}
#container{
    margin-inline:25% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chat{
    width: 80%;
    align-items: start;
}